$color-o: rgb(218, 170, 14);

$color-gr: rgb(127, 236, 55);

$color-w: rgb(255, 255, 255);

$color-g: rgb(212, 213, 216);

$color-ng: rgb(170, 240, 113);

$color-b: rgb(58, 107, 212);

$color-B: rgb(49, 49, 48);